.modal{
  display: flex;
  justify-content: center;
}

.close_btn{
  display: flex;
  margin-left: 22rem;
}

.modal_title{
  display: flex;
  justify-content: center;
}

.search{
  display: flex;
  justify-content: center;
  height: 2.2rem;
}

.item .img{
  height: 100px;
}